<h1>Home Liste des potins</h1>


<% @all_gossips.each do |gossip| %>
  <p>
    <%= link_to 'Auteur:', user_show_path(:user_id => gossip.user.id) %> 
    <%= gossip.user.last_name %> 
    Titre:
    <%= gossip.title %>
    <%= link_to 'Afficher', home_show_gossip_path(:id => gossip.id) %> 
  </p>
<% end %>
